body{
    text-align: center;
    font-size: 1rem;
    background-color: black;
    color: white;
}
nav{
    text-align: left;
}
.navbar{
    height: 1.5rem;
    width: 7rem;
    font-size: 1rem;
}
button{
    height: 2rem;
    width: 8rem;
    font-size: 1rem;
}
h1{
    font-weight: bold;
    color: rgb(167, 247, 246);
    background-color: rgb(85, 183, 222);
    transition: 1s;
    background: transparent;
    filter: drop-shadow(1px 5px 3px  #00d0ff)
}